body{
    font-family: "Roboto", sans-serif;

    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}


.button button{
    background-color: #3882F6;
    border: none;
    padding: 8px 30px;
    border-radius: 10px;
    color: #F9FAF8;
    font-weight: bold;
}